@use "../../styles/variables" as *;

.aside {
  position: fixed;
  top: 50%;
  right: 2rem;
  transform: translateY(-50%);
}

.ul {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  background: rgba($gold, 0.25);
  border: 1px solid $yellow;
  padding: 1rem 0.75rem;
  border-radius: 999px;
}

.li {
  position: relative;
  cursor: pointer;

  &:hover, &:focus {
    .icon {
      transform: scale(1.25);
    }

    .span {
      opacity: 1;
      right: 125%;
      pointer-events: all;
    }

    &:focus {
      outline: none;
    }
  }
}

.icon {
  color: $yellow;
  transition: all 0.2s;
}

.span {
  opacity: 0;
  position: fixed;
  right: 75%;
  font-weight: 500;
  background: rgba($gold, 0.35);
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
  pointer-events: none;
  user-select: none;
  transition: all 0.2s;
}
