@use "./utils" as *;

@mixin create-font($name, $weight) {
  @font-face {
    font-family: "#{capitalize($name)}";
    src: url("../assets/fonts/#{$name}/#{$name}-#{$weight}.woff2")
      format("woff2");
    font-weight: $weight;
    font-style: normal;
  }
}
